.headerwrapper {
    display: flex;
    align-items: center;
    box-shadow: 1px 5px 10px solid black;
    background-color: white;
    .headerlogo {
        margin-left: 30px;
        color: #c52525;
        font-size: 3rem;
        padding: 10px;
        a {
            text-decoration: none;
            color: #c52525;
            font-weight: 600;
        }
    }
    .navbar {
        display: flex;
        // justify-content: space-around;
        width: 50%;
        margin: auto;
        a {
            text-decoration: none;
            color: black;
        }
        li {
            list-style: none;
            font-size: 1.2rem;
            text-transform: uppercase;
            display: flex;
        }
        li:hover{
            cursor: pointer;
        }
        .seperator {
            width: 1px;
            height: 23px;
            background-color: black;
            display: block;
            margin: 0 20px;
        }



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure modal is on top of other elements */

  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow */
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure modal is on top of other elements */

  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow */
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
    text-align: center; /* Center text content */
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}


    }
    .user {
        color: #c52525;
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-right: 30px;
    }

}

@media (max-width: 1200px) {
    .headerwrapper{
    .navbar {
        li {
            display: none;
        }
    }
}

  }
